*{
	padding: 0;
	margin: 0;
}
body{
	background: #ffffff;
}
div{ 
    box-sizing: border-box;
    width: 100%;
    border: 100px solid black;
    float: left;
    align-content: center;
    align-items: center;
}
form{
    margin: 0 auto;
    width: 488px;
    padding: 50px 0px;
}
h1{
    font-family: system-ui;
    padding: 20px 0px;
    background: #9e9e9e;
    color: #fff;
    margin-top: 0px;
}
p {
    width: 150px;
}
input {
    padding: 13px 0px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: none;
    padding-left: 12px;
    background: #ffffff;
    box-shadow: 1px 3px 7px -3px #bbb1b1;
}
select {
    border: none;
    padding: 11px;
    border-radius: 9px;
    background: #ffffff;
    color: #797373;
    margin-right: 162px;
    display: none;
    box-shadow: 1px 3px 7px -3px #bbb1b1;
}
.phone-input {
    margin-bottom: 23px;
}
.submit-input {
    width: 108px;
    padding-right: 13px;
    color: #6b6b6b;
    background: #fff;
    margin-right: 12px;
    transition: .4s;
}
.reset-input {
    width: 108px;
    padding-right: 13px;
    color: #fff;
    background: #9e9e9e;
    transition: .4s;
}
.submit-input:hover{
	background: #fff;
	color: #6b6b6b;

}
.reset-input:hover{
	background: #fff;
	color: #6b6b6b;
}
